---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Kontakt | Gerhards Coaching',
	description: 'Kontaktieren Sie uns für ein Erstgespräch.',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Kontaktieren Sie uns</h1>
				<p>
					Haben Sie Fragen zu unseren Coaching-Angeboten oder möchten Sie ein Erstgespräch vereinbaren? Nutzen Sie einfach das Kontaktformular oder rufen Sie uns an. Wir freuen uns darauf, von Ihnen zu hören!
				</p>
				<div>
					<p>
						<em><a href="tel:+491786931585">0178 6931585</a></em> • <em
							><a href="mailto:marco@gerhardscoaching.de">marco@gerhardscoaching.de</a
							></em
						>
					</p>
				</div>
			</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
