---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Impressum & Datenschutz | Gerhards Coaching`,
  description: `Rechtliche Informationen und Datenschutzbestimmungen von Gerhards Coaching.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>Impressum & Datenschutz</h1>

    <p>Hier finden Sie die rechtlichen Informationen und unsere Datenschutzbestimmungen.</p>

    <h2 id="impressum">Impressum</h2>

    <h3>Angaben gemäß § 5 TMG</h3>

    <p>Marco Gerhards<br />
    Tullastrasse 67<br />
    79108 Freiburg</p>

    <p>Kontakt:<br />
    Telefon: <a href="tel:+491786931585">0178 6931585</a><br />
    E-Mail: marco@gerhardscoaching.de</p>

    <h3>Umsatzsteuer-ID</h3>

    <p>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br />
    DE-07344/33391</p>

    <h2 id="datenschutz">Datenschutz</h2>

    <p>
      Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
    </p>

    <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.</p>
  </TextSection>
</Layout>