---
import { Icon } from 'astro-icon/components';
import { Container, Button } from '@components/odyssey-theme';
import settings from '../../../config/settings.js';
import {ThemeSwitcher} from '../../theme-switcher/theme-switcher';
import ServiceSlideshow from './ServiceSlideshow.astro';
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
				<h1>Willkommen bei Gerhards Coaching</h1>
				<p>
					Persönliche Entwicklung durch individuelle Betreuung
				</p>
				<div class="hero-btns__container">
					<Button href="#" customIcon
						>Jetzt anfragen
            <Fragment slot="icon">
              <Icon name="ic:baseline-chevron-right"/>
            </Fragment>
            </Button
					>
				</div>
        {settings.enableThemeSwitcher && (
          <div class="theme-switcher__wrapper">
            <p>Wähle dein Design für die Seite</p>
            <ThemeSwitcher client:only/>
          </div>
        )}
		</div>
		<div class="hero-section__image">
				<ServiceSlideshow />
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
  .theme-switcher__wrapper {
    margin-top: 2rem;
  }
  .theme-switcher__wrapper p {
    margin-bottom: 0;
    font-size: var(--font-size-sm);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    opacity: 0.8;
  }
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}
</style>