---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

const selectOptions = [
  "Google Suche",
  "Soziale Medien",
  "E-Mail",
  "Empfehlung",
]

---

<form name="Kontaktformular" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Name" name="Name" placeholder="Ihr Name" />
  <FormInput type="email" label="E-Mail" name="Email" placeholder="beispiel@mail.de" />
  <FormSelect label="Wie haben Sie von uns gehört?" options={selectOptions} />
  <FormTextarea label="Nachricht" name="Message" placeholder="Ihre Nachricht an uns..." />
  <Button>Absenden</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>